.footer-icons{
    display: flex;
    flex-direction:row;
    column-gap: 0.813rem;
    margin-bottom: 1.125rem;
    align-items: center;
}

.footer-icons> img{
    width: 2rem;
    height: 2rem;
}

.footer-icons>span{
    color: #FFFFFC;
    font-weight: 400;
    font-size: 1rem;
}