.hero-section {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#10141800, #101418),
    url(../../assests/home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.hero-content {
  padding: 30.688rem 0rem 10.188rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.125rem;
}
.hero-content > span {
  color: #fffccc;
  font-weight: 700;
  font-size: 2.813rem;
  text-align: center;
  width: 22rem;
}
.hero-content > p {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1.813rem;
  text-align: center;
}
