.card-menu {
  display: flex;
  flex-direction: row;
  column-gap: 0.688rem;
  align-items: center;
  width: 100%;
}

.card-icon {
  width: 4rem;
  height: 4rem;
}

.card-menu-content {
  display: flex;
  column-gap: 1.313rem;
  align-items: center;
  width: 70%;
}

.card-menu-content > div:first-of-type {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 13rem;
}

.card-menu-content > div > span:first-child {
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.card-menu-content > div > span:last-child {
  font-size: 0.875rem;
  font-weight: 400;
  color: white;
}

.card-line {
  width: 20%;
  max-width: 7rem;
  height: 1px;
  background-color: #ffce6d;
  position: relative;
  top: -0.2rem;
}

.card-menu > span {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffce6d;
  position: relative;
  top: -0.2rem;
  width: 30%;
}

@media only screen and (max-width: 414px) {
  .card-icon {
    width: 3rem;
    height: 3rem;
  }
  .card-menu-content > div > span:first-child {
    font-size: 0.5rem;
  }

  .card-menu-content > div > span:last-child {
    font-size: 0.6rem;
  }

  .card-line {
    width: 3rem;
  }

  .card-menu > span {
    font-size: 0.8rem;
  }
}
